<p id="nav">
    <a href="../">Home</a> |
    <a href="../stocks">Stocks</a> |
    <a href="../subs">Subscribers</a> |
    <a href="../analysts">Analysts</a> |
    <a href="../stocks_has_sectors">Stocks Has Market Sectors</a> |
    <a href="../stocks_has_analysts">Stocks Has Analysts</a> |
    <a href="../indexes">Market Indexes</a> |
    <a href="../sectors">Market Sectors</a>
</p>