{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}


<html>

<head>
  <title>TD Memetrade Home Page</title>
</head>

<body>
  <h1>Welcome to the TD Memetrade Home Page</h1>
  <h2 id="nav-instructions">Please use the navigation bar above to travel to any page you'd like!</h2>
  <img src="https://cdn.pixabay.com/photo/2014/04/03/11/58/rocket-312767__340.png" alt="cartoon rocket">
  <img src="https://cdn.pixabay.com/photo/2014/04/03/11/58/rocket-312767__340.png" alt="cartoon rocket">
  <img src="https://cdn.pixabay.com/photo/2014/04/03/11/58/rocket-312767__340.png" alt="cartoon rocket">
  <img src="https://cdn.pixabay.com/photo/2014/04/03/11/58/rocket-312767__340.png" alt="cartoon rocket">
  <img src="https://cdn.pixabay.com/photo/2014/04/03/11/58/rocket-312767__340.png" alt="cartoon rocket">
</body>

<footer>&copy Kevin Riemer and Brandon Koehler 2023</footer>

</html>