{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
<html>

<head>
  <title>Indexes</title>
</head>

<body>
  <h1>Welcome to TD Memetrade</h1>

  <h2>Market Indexes</h2>
  <table id="indexes-table">
    <thead>
      <tr>
        {{!{{#each data.[0]}}
        <th>{{!{{@key}} Market Index ID</th>
        <th>Market Index Name</th>
        {{!{{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>{{this.indexID}}</td>
        <td>{{this.indexName}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <p>&nbsp;</p>
  <div id="insert">
    <form method="POST" id="addIndexAjax">
      <legend><strong>Add Market Index</strong></legend>
      <fieldset class="fields">
        <label for="indexName"> Name </label> <input type="text" name="indexName" id="indexName" required>
      </fieldset>
      <input class="btn" type="submit" id="addIndex" value="Add Market Index">
      <input class="btn" type="button" value="Cancel">
    </form>
    <script src="./js/add_index.js"></script>
  </div>


</body>
<footer>&copy Kevin Riemer and Brandon Koehler 2023</footer>

</html>