{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}


<html>

<head>
  <title>Sectors</title>
</head>

<body>
  <h1>Welcome to TD Memetrade</h1>

  <h2>Market Sectors</h2>

  <table id="sectors-table">
    <thead>
      <tr>
        {{!{{#each data.[0]}}
        <th>{{!{{@key}}Market Sector ID</th>
        <th>Market Sector Name</th>
        <th>Delete</th>
        {{!{{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>{{this.sectorID}}</td>
        <td>{{this.sectorName}}</td>
        <td><button class="del-btn" onclick="deleteSector({{this.sectorID}})">Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <script src="./js/delete_sector.js"></script>
  <p>&nbsp;</p>

  <div id="insert" style="display: block">
    <form id="addSectorAjax">
      <legend><strong>Add Market Sector</strong></legend>
      <fieldset class="fields">
        <label for="sectorName"> Sector </label> <input type="text" name="sectorName" id="sectorName" required>
      </fieldset>
      <input class="btn" type="submit" id="addSector" value="Add a Sector">
      <input class="btn" type="button" value="Cancel">
    </form>
    <!--add new stock-->
    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script src="./js/add_sector.js"></script>
</body>
<footer>&copy Kevin Riemer and Brandon Koehler 2023</footer>

</html>